<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570254434318-gpjhnknagnpci7oplrd3kpte3g1bgovu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570254434318-gpjhnknagnpci7oplrd3kpte3g1bgovu</string>
	<key>API_KEY</key>
	<string>AIzaSyDU5dqgNFl_K11oemw42Mi13HQp6pR2Lsk</string>
	<key>GCM_SENDER_ID</key>
	<string>570254434318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessUiKit</string>
	<key>PROJECT_ID</key>
	<string>fitness-gym-app-6024f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-gym-app-6024f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570254434318:ios:fce42b6e5d5522e107dc5f</string>
</dict>
</plist>